<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-hello:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-boot-hello</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-hello" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring-boot-hello/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-hello/web/Web" />
    </root>
  </artifact>
</component>